<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


	<bean class="com.xworkz.employee.dao.EmployeeDAOImpl"
		id="employeeDAOImpl">
     <constructor-arg ref="driverManagerDataSource"></constructor-arg>

	</bean>

	<!-- Database Configurations -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">

		<constructor-arg value="${database.url}" />
		<constructor-arg value="${database.username}" />
		<constructor-arg value="${database.password}" />

	</bean>

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"
		id="propertySourcesPlaceholderConfigurer">
		<property name="location"
			value="resources/Application.properities"></property>

	</bean>

	


</beans>