<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
	<bean class="com.xworkz.maven1jdbc.FastFood"></bean>

	<bean class="com.xworkz.maven1jdbc.Camera" id="camera">

		<constructor-arg value="Oppo" type="String" />
		<constructor-arg value="Oppo" type="String" />
		<constructor-arg value="NELLORE" type="String" />

		<property name="noOfItem" value="10" />
		<property name="since" value="2000" />
		<property name="itemColor" value="White">
		</property>

	</bean>

	<bean class="java.lang.Double" id="double">
		<constructor-arg value="123.00" type="double" />

	</bean>


	<bean class="java.lang.Boolean" id="boolean">
		<constructor-arg value="true" type="boolean" />
	</bean>


	<bean class="java.lang.Character" id="charecter">
		<constructor-arg value="X" type="char" />


	</bean>


	<bean class="java.lang.Float" id="float">
		<constructor-arg value="123.00" type="float" />
	</bean>



	<bean class="java.lang.StringBuffer" id="1">
		<constructor-arg value="parameterised constructor" />
	</bean>



	<bean class="java.lang.StringBuffer" id="3">
		<constructor-arg value="12345"  />

	</bean>



	<bean class="java.lang.String" id="string">


	</bean>



</beans>